@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, * {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><circle cx="16" cy="16" r="15" fill="%23333" stroke="%23fff" stroke-width="2"/><text x="16" y="20" text-anchor="middle" fill="white" font-size="12" font-family="Arial">O</text></svg>') 16 16, auto !important;
}

body {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  @apply dark:bg-[#000000f2] bg-white transition-all duration-700 lg:overflow-hidden overflow-auto;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #2d2d2d;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
